beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Django==2.2.13
django-cors-headers==2.2.0
django-filter==1.1.0
djangorestframework==3.8.2
get==1.0.2
httpie==0.9.9
idna==2.6
Pillow==5.1.0
post==1.0.1
public==1.0.2
Pygments==2.2.0
pytz==2018.4
query-string==1.0.1
request==1.0.1
requests==2.18.4
selenium==3.11.0
urllib3==1.22
